
/* This file is for default CSS styling across all projects and pages */

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0.0;
	width: 100%;
}

button, input, textarea, iframe {
	display: inline-block;
	outline: none;
	border: none;
	resize: none;
	background: none;
	color: black;
}

a {
	color: black;
	text-decoration: none;
}