
/* Default Styles' Import */
@import "defaultCSS.css";

@import url('https://fonts.googleapis.com/css2?family=Fresca&family=Signika+Negative:wght@300&family=Spline+Sans+Mono:wght@300&display=swap');

@import "dayCSS/feedback.css";
@import "dayCSS/topnav.css";
@import "dayCSS/home.css";
@import "dayCSS/bio.css";
@import "dayCSS/work.css";

/* Common Styles */

:root {
	--color1: #dcde9f;
	--color2: #f3f4d3;
	--color3: #92a65f;
	--color4: #446129;
	--color5: #183114;
}

* { 
	scroll-behavior: smooth;
}
body {
	background-color: var(--color1);
}
h1, h2, h3, i, iframe {
	font-family: 'Signika Negative', sans-serif; 
}
h1 {
	font-size: 70px;
}
h2 {
	font-size: 50px;
}
h3 {
	font-size: 35px;
}
h4 {
	font-size: 25px;
}
h5 {
	font-size: 17;
}
h6 {
	font-size: 10px;
}
p, button, a, span, summary, details, label, ul, li, div, content *, section { 
	font-family: 'Fresca', sans-serif;
	font-size: 20px;
}
u:hover {
	cursor: pointer;
	color: var(--color5);
}
input::placeholder, textarea::placeholder, input, textarea {
	font-family: 'Spline Sans Mono', monospace;
}


.blank {
	height: 150px;
	width: auto;
	padding: 250px;
	background-image: url('../background2.png');
	background-repeat: no-repeat;
	background-size: cover;
}

body::-webkit-scrollbar { 
	width: 10px; 
	height: 0px; 
}
body::-webkit-scrollbar-track { 
	border-radius: 5px; 
}
body::-webkit-scrollbar-track:hover {
	background-color: var(--color3); 
}
body::-webkit-scrollbar-thumb { 
	background-color: var(--color2);
	border: 2px solid var(--color5);  
	border-radius: 5px; 
}	
