
/* Bio section CSS */

.bio {
	width: 100%;
	padding: 15px 30px;
	display: none;
	flex-flow: column wrap;
	justify-content: start;
	align-items: flex-start;
}
	.bio1 {
		display: block;
		width: 100%;
		margin-top: 30px;
	}
		.bio1 .mainContainer, .bio4 .bio4a {
			padding-top: 50px;
			width: 100%;
			display: flex;
			overflow-x: auto;
			overflow-y: hidden;
		}
		.bio1 .mainContainer::-webkit-scrollbar, .bio4, .bio4a::-webkit-scrollbar {
			display: none;
		}
			.bio1 .subContainer, .bio4 .subContainer {
				padding: 35px;
				display: flex;
				flex-direction: row-reverse;
				flex-wrap: nowrap;
				position: relative;
			}
			.bio1 .subContainer::after {
				content: '';
				position: absolute;
				width: 100%;
				height: 6px;
				background-color: var(--color5);
				top: 0;
				bottom: 0px;
			}
				.bio1 .container, .bio4 .container {
					flex: 0 0 auto;
					padding: 15px;
					width: 1000px;
					height: 400px;
					margin-right: 15px;
					text-align: center;
					position: relative;
					background: linear-gradient(var(--color4) 0% 80%, var(--color1) 80% 90%, var(--color4) 90% 100%);
					color: var(--color2);
				}
				.bio1 .container i, .bio4 .container i {
					color: #a24252;
				}
				.bio1 .container:hover, .bio4 .container:hover {
					background: linear-gradient(var(--color3) 0% 80%, var(--color1) 80% 90%, var(--color3) 90% 100%);
					color:  var(--color5);
				}
				.bio1 .container::after {
					content: '';
					position: absolute;
					width: 30px;
					height: 30px;
					left: 49.3%;
					background-color: var(--color4);
					border: 2px dashed var(--color2);
					top: -47px;
					border-radius: 50%;
					z-index: 1;
					animation: spin2 7s linear infinite;
				}
				.bio1 .container:hover::after {
					background-color: var(--color1);
					border-color: var(--color4);
				}
				.bio1 .arrow::before {
				  	content: " ";
				  	height: 0;
				  	position: absolute;
				  	top: -10px;
				  	width: 0;
				  	z-index: 1;
				  	margin-left: auto;
				  	margin-right: auto;
				  	border: medium solid white;
				  	border-width: 0px 10px 10px 10px;
				  	border-color: transparent transparent var(--color5);
				}
				.arrow:hover::before {
					border-color: transparent transparent var(--color3);
				}
	.bio2, .bio3 {
		width: 100%;
		display: none;
	}
		.bio2a, .bio3a {
			width: 100%;
			padding: 10px;
			display: flex;
			flex-flow: column wrap;
			align-items: flex-start;
			justify-content: flex-start;
		}
		.bio2a div, .bio3a div {
			margin-top: 25px;
			width: 100%;
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-start;
			align-items: center;
			color: var(--color4);
		}
		.bio2a div:hover, .bio3a div:hover {
			background-color: var(--color3);
			color: var(--color2);
		}
			.bio2a h3, .bio3a h3 {
				width: 15%;
				text-align: right;
				padding: 15px 20px;
			}
			.bio2a p, .bio3a p {
				padding: 15px 20px;
				border-left: 2px solid var(--color4);
			}
			.bio3a content {
				color: var(--color4);
			}
	/*.bio3 {
		display: block;
		width: 100%;
	}*/
	.bio4 {
		display: none;
		width: 100%;
		margin-top: 30px;
	}
		.bio4 .subContainer {
			flex-direction: row;
		}
			.bio4 a, .bio4 u {
				cursor: pointer;
				color: var(--color5);
				font-size: 20px;
			}
