
.feedback {
	display: none;
	width: 100%;
	padding: 30px 40px;
	background-color: var(--color4);
	color: #ccc7b0;
}
	.feedback2 {
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		justify-content: start;
		align-items: center;
		font-size: 17px;
	}
		#f1, #f2 {
			width: 49.4%;
			padding: 15px;
			border: 2px solid var(--color3);
		}
		#f1 {
			margin: 0px 15px 15px 0px;
		}
		#f2 {
			margin: 0px 0px 15px 0px;
		}
		#f3 { 
			width: 100%;
			margin: 0px 0px 15px 0px;
			padding: 15px; 
			border: 2px solid var(--color3);
		}
		#f1 input, #f2 input, #f3 textarea {
			width: 100%;
			color: var(--color2);
		}
		#f1:focus, #f2:focus, #f3:focus {
			border-color: var(--color5);
		}
		#f1 input::placeholder, #f2 input::placeholder, #f3 textarea::placeholder {
			vertical-align: middle;
			color: var(--color2);
		}
		#f3 textarea {
			resize: none;
			height: 150px;
		}
		#f4 {
			display: none;
		}
		#f5 {
			width: 50%;
			height: 50px;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: center;
		}
		#f1 input, #f2 input, #f3 textarea, #f5 button {
			cursor: pointer;
		}
		#f5 button {
			padding: 7px;
			width: 48%;
			background-color: var(--color1);
			color: var(--color4);
		}
		#f5 button:hover {
			background-color: var(--color3);
		}

@media screen and (max-width: 1340px) {
	.feedback {
		width: 100%;
	}
		.feedback2 {
			width: 100%;
		}
		#f1, #f2, #f3 {
			width: 100%;
			margin: 10px 10px 0px 10px;
		}
		#f5 {
			width: 100%;
			margin: 10px;
		}
		#f5 button {
			width: 49%;
		}
}