
/* Home section CSS */

.home {
	height: 100%;
	width: 100%;
	padding: 30px 0px 30px 0px;
	/*background-color: var(--color4);*/
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: flex-end;
}
	.home1, .home2 {
		width: 49%;
		height: 100%;
	}
	.home1 {
		padding: auto 15px 15px auto;
		display: flex;
		flex-flow: column wrap;
		align-items: flex-end;
		justify-content: flex-end;
		text-align: center;
	}
		.home1 h1 {
			color: var(--color5);
		}
		.home1 #quotez {
			width: 100%;
			height: 100px;
			text-align: right;
			/*background-color: var(--color3);*/
			color: var(--color5);
		}
		.home2 img {
			width: 100%;
		}
		/*.home2Btn {
			width: 100px;
			margin: 100px;
			height: 100px;
			padding: 20px;
			border-radius: 50%;
			cursor: pointer;
			background-color: var(--color2);
			color: var(--color5);
			position: relative;
		}
		.home2Btn-hover:hover {
			background-color: var(--color1);
			color: var(--color3);
		}
		.home2Btn::after {
			content: '';
			position: absolute;
			top: -18px;
			left: -18px;
			padding: 10px;
			margin: auto;
			border: 2px dashed var(--color3);
			height: 110px;
			width: 110px;
			border-radius: 50%;
			animation: spin2 10s linear infinite;
		}
		@keyframes spin2 {
			100% { transform: rotateZ(360deg); }
		}
		.home2Btn i {
			vertical-align: middle;
			font-size: 60px;
			width: 100%;
		}*/	

@media screen and (max-width: 1340px) {
	.home {
		width: 100%;
	}
		.home1, .home2, .home3 {
			width: 100%;
		}
}

@media screen and (max-width: 1160px) {
	.home2Btn {
		margin: 50px;
	}
}	

@media screen and (max-width: 960px) {
	.home2Btn {
		width: 75px;
		height: 75px;
		text-align: center;
		padding: 0px;
	}
	.home2Btn::after {
		height: 85px;
		width: 85px;
	}
}

@media screen and (max-width: 900px) {
	.home2 {
		display: flex;
		flex-flow: column wrap;
		justify-content: space-evenly;
		align-items: center;
	}
	.home2image {
		width: 100%;
	}
}