
/* Top Navigation section CSS */
.nav1 {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	padding: 25px 50px;
	height: 150px;
}
.nav1 * {
	font-size: 17px;
}
	
	.nav1a button, .nav1b, .nav1c * {
		color: var(--color5);
	}
	.nav1a button {
		padding: 20px;
		border-bottom: 2px solid var(--color1);
	}
	.nav1a-hover button:hover {
		border-color: var(--color3);
		color: var(--color3);
		cursor: pointer;
	}
	.nav1a #nav1a_Btn1 {
		background-color: var(--color5);
		color: var(--color1);
		border-color: var(--color5);
	}
	/*.nav1a #nav1a_Btn1:hover {
		background-color: var(--color3);
		border-color: var(--color3);
		color: var(--color5);
	}*/
	.search1 {
		padding: 10px;
		line-height: 30px;
		width: 250px;
		margin: auto;
	}
	.nav1c {
		font-size: 17px;
		border: 2px solid var(--color1);
	}
	.nav1c input { 
		width: 300px;
		line-height: 30px;
		padding: 20px 10px 15px 7px;
		display: inline-block; 
		outline: none; 
		border: none; 
		background: none;
		color: var(--color5); 
	}	
	.nav1c input::placeholder {
		color: var(--color3);
		vertical-align: middle; 
	}
	.nav1c span {
		line-height: 30px;
		padding: 20px;
		background-color: var(--color5);
	}
	.nav1c span:hover {
		cursor: pointer;
		background-color: var(--color3);
	}	
	.nav1c span i { 
		color:  var(--color1);
		vertical-align: middle; }


.nav2, .nav3, .work2b1 {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: safe end;
	align-items: center;
}
.nav2 button, .nav3 button, .work2b1 button {
	padding: 10px 25px;
	border-radius: 25px;
	color: var(--color4);
	cursor: pointer;
}
.nav2-hover button:hover, .nav3-hover button:hover, .work2b1-hover button:hover {
	border: 10px solid black;
	background-color: var(--color3);
	color: var(--color4);
}
	#nav2_Btn1, #nav3_Btn1 {
		background-color: var(--color4);
		color:  var(--color1);
	}		