
/* Work section CSS */


.work {
	width: 100%;
	padding-left: 25px;
	display: none;
	flex-flow: column wrap;
	justify-content: start;
	align-items: flex-start;
	color: var(--color5);
}
	.workHead { 
		width: 100%; 
		padding: 30px 0px 30px 0px; 
		display: flex; 
		flex-flow: row wrap; 
		justify-content: space-around; 
		align-items: flex-end;
	}
		.workHeadImg {
			width: 49%;
		}
		.workHeadImg img {
			width: 100%;
		}
	.work1 {
		display: block;
		width: 100%;
	}
		.work1a1, .work1b1, .work1c1 {
			width: 100%;
			margin: 20px 0px 0px 0px;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: center;
		}
		/* class="aheadBack aheadBack-hover"*/
		.aheadBack {
			padding: 20px;
			border-radius: 50%;
			background-color: var(--color4);
			color: var(--color1);
			cursor: pointer;
		}
		.aheadBack-hover:hover {
			background-color: var(--color3);
			color: var(--color5);
		}		
		.work1a2, .work1b2, .work1c2 {
			width: 100%;
			display: flex;
			overflow-x: auto;
			overflow-y: hidden;
		}
		.work1a2::-webkit-scrollbar, .work1b2::-webkit-scrollbar, .work1c2::-webkit-scrollbar {
			display: none;
		}
			.work1a2i, .work1b2i, .work1c2i {
				margin: 10px 0px 0px 35px;
				width: 100%;
				display: flex;
				flex-wrap: nowrap;
			}
				.work1a2i .container, .work1b2i .container {
					flex: 0 0 auto;
					padding: 0px;
					width: 450px;
					margin-right: 15px;
					position: relative;
					cursor: pointer;
				}
				.work1c2i .container {
					flex: 0 0 auto;
					margin-right: 15px;
					padding: 0px;
				}
				/*.work1a2i .container:hover, .work1b2i .container:hover {
					z-index: 1;
					opacity: 0.7;
				}*/
				.work1a2i .container .thumbnail, .work1b2i .container .thumbnail {
					width: 100%;
					height: 100%;
				}
				.work1a2i .container .thumbnail img, .work1b2i .container .thumbnail img {
					opacity: 1;
					width: 100%;
					height: 100%;
					transition: 0.2s ease-in-out;
					backface-visibility: hidden;
				}
				.work1a2i-hover .container:hover .thumbnail img, .work1b2i-hover .container:hover .thumbnail img {
					z-index: 1;
				  	opacity: 0.5;	
				}
				.work1a2i .container .middle, .work1b2i .container .middle {
					transition: 0.5s ease;
					opacity: 0;
				  	position: absolute;
				  	top: 50%;
				  	left: 50%;
				  	transform: translate(-50%, -50%);
				  	-ms-transform: translate(-50%, -50%);
				  	text-align: left; 
				  	white-space: nowrap;
				}
				.work1a2i-hover .container:hover .middle, .work1b2i-hover .container:hover .middle {
				  	opacity: 1; 
				}
				.middle .text {
				  	background-color: none;
				  	padding: 10px; 
				  	white-space: nowrap; 
				  	vertical-align: middle; 
				  	color: black;
				  	font-size: 20px;
				  	font-weight: bold; 
				}
	.work2 {
		display: none;
		width: 100%;
	}
		.work2b {
			display: flex;
			flex-flow: column wrap;
			justify-content: space-around;
			align-items: flex-start;
		}
		.work2a, .work2b {
			width: 100%;
		}
			.work2b2 {
				width: 100%;
				display: flex;
				flex-flow: row wrap;
				justify-content: space-evenly;
				align-items: flex-start;
			}
			.work2b2 .canvaWork {
				width: 450px;
				height: 450px;
				border: 7px solid var(--color2);
				display: block;
			}
			.work2b2 .canvaWork iframe {
				width: 100%;
				height: 100%;
			}
	.work3 {
		display: none;
	}
		.work3 #wixBtn {
			width: 100px;
			margin: 100px;
			height: 100px;
			padding: 20px;
			border-radius: 50%;
			cursor: pointer;
			background-color: var(--color2);
			color: var(--color5);
			position: relative;
		}
		.work3 .wixBtn-hover:hover {
			background-color: var(--color1);
			color: var(--color3);
		}
		.work3 #wixBtn::after {
			content: '';
			position: absolute;
			top: -18px;
			left: -18px;
			padding: 10px;
			margin: auto;
			border: 2px dashed var(--color3);
			height: 110px;
			width: 110px;
			border-radius: 50%;
			animation: spin2 10s linear infinite;
		}
		@keyframes spin2 {
			100% { transform: rotateZ(360deg); }
		}
		.work3 #wixBtn i {
			vertical-align: middle;
			font-size: 60px;
			width: 100%;
		}
			.work3b {
				width: 100%;
			}
			.work3b img {
				width: 25%;
			}
	.work4 {
		display: none;
	}		  	


div .modalContainerCollection { 
	display: none;
	position: fixed;
	left: 0;
	top: 0; 
	z-index: 1; 
	width: 100%;  
	overflow: auto;
	color: var(--color4);
	height: 100%; 
}
div .modalContainerCollection::-webkit-scrollbar { 
	width: 0; 
}	
div .modalContainerCollection .modalContentCollection { 
	padding: 50px;
	width: 100%;
	height: auto; 
	background-color: var(--color2);
	position: relative; 
}
div .modalContainerCollection .modalContentCollection div { 
	width: 100%;
	height: 100%;
	display: flex; 
	flex-flow: row wrap; 
	justify-content: space-evenly; 
	align-items: flex-start; 
}
div .modalContainerCollection .modalContentCollection div section { 
	width: 48%; 
}	
div .modalContainerCollection .modalContentCollection div content * { 
	padding: 10px;
	background-color: var(--color4);
	color: var(--color1);
	font-size: 14px;
	width: 100%;
	height: 400px;
	overflow: scroll;
	font-family: 'arial', serif; 
}
div .modalContainerCollection .modalContentCollection div content *::-webkit-scrollbar	{ 
	width: 8px;
	height: 8px; 
}
div .modalContainerCollection .modalContentCollection div content *::-webkit-scrollbar-track { 
	border-radius: 5px; 
}
div .modalContainerCollection .modalContentCollection div content *::-webkit-scrollbar-thumb { 
	background-color: var(--color3); 
	border:1px solid black; 
	border-radius: 5px; 
}		
.modalContentCollection iframe { 
	display: inline-block;
	outline: none; 
	background: none;
	width: 100%;
	height: 1078px; 
	border: 5px solid var(--color4); 
	margin-left: auto;
	margin-right: auto;  
}				
.modalContentCollection button { 
	cursor: pointer;
	position: absolute;
	top: 25px;
	right: 25px;
	display: inline-block; 
	font-size: 19px; 
	line-height: 30px; 
	height: 60px;
	width: 60px;
	border-radius: 40px;
	color: var(--color4); 
	background: transparent;
	border: 2px solid var(--color4); 
}  
.modalContentCollection button:hover {
	color: var(--color2);
	background-color: var(--color3);
	border-color: var(--color3); 
}	
.modalContentCollection button i { 
	vertical-align: middle; 
}	

.modalContentCollection div img { 
	width: 100%; 
	height: 100%; 
	margin: auto;
	border: 5px solid var(--color4);
}		


@media screen and (max-width: 1340px) {
	.work2b2 .canvaWork {
		width: 400px;
		height: 400px;
	}
}

@media screen and (max-width: 1160px) {
	.work2b2 .canvaWork {
		width: 350px;
		height: 350px;
	}
	div .modalContainerCollection .modalContentCollection div section {
		width: 100%;
	}
}
