
* { 
	scroll-behavior: smooth;
	box-sizing: border-box;
	font-family: monospace; 
}
body {
	width: 100%;
	background-image: linear-gradient(120deg, #afbecd, #192837);
	margin: 0.0;  
}
body::-webkit-scrollbar { width: 8px; height: 0px; }
body::-webkit-scrollbar-thumb { background-color: #abcdef; border-radius: 10px; border: 1px solid black; }
body::-webkit-scrollbar-track { background-color: #123456; }

button { 
	line-height: 30px;
	display: inline-block; 
	outline: none; 
	border: none; 
	background: none; 
}
button i { 
	border: 2px solid transparent;
	cursor: pointer;
	vertical-align: middle; 
}
button:hover { 
	color: #abcdef; 
}		

.Btn { 
	z-index: 5;
	position: absolute;
	top: 25px;
	left: 25px; 
}	
.Btn button { 
	cursor: pointer;
	line-height: 30px;
	width: 50px; 
	height: 50px; 
	border: 2px solid #192837; 
	border-radius: 50%; 
	color: #afbecd;
	background-color: #192837; 
}
.Btn button:hover { 
	background-color: #afbecd; 
	border-color: #afbecd;
	color: #192837; 
}

.pageContent { 
	padding: 50px;
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: flex-start; 
}
.pageContent .showMain { 
	color: #afbecd;
	height: 500px; 
	background: #192837;
	width: 100%;
	box-shadow: 5px 5px 10px black; 
	display: flex; 
}
.showMain .showDesc, .showMain .showPost { 
	width: 50%;
	height: 100%; 
}	
.showDesc { 
	position: relative;
	font-size: 17px;
	padding: 50px; 
}
.showDescBtn { 
	position: absolute; 
	right: 25px;
	bottom: 15px;
}	
.showDescBtn button { 
	margin: 20px 0px;
	padding: 10px 20px;
	background: #192837;
	border: 2px solid #afbecd;
	color: #afbecd;
	cursor: pointer;
	font-size: 17px; 
}
.showDescBtn button:hover { 
	color: #192837;
	background-color: #afbecd; 
}
.showSeason select { 
	display: inline-block;
	background: none;
	outline: none;
	border: 2px solid #192837;
	padding: 10px;
	width: 300px;
	font-size: 17px;
	color: #192837; 
}
.showSeason option { 
	display: inline-block;
	width: 100%; 
	background-color: #192837; 
	color: #afbecd;
	padding: 10px; 
}			
.showPost img { 
	width: 100%; 
	height: 100%;
}		
.categoryBtn button { 
	font-size: 17px;
	cursor: pointer;
	padding: 10px 20px;
	margin: 30px 0px 0px 0px;
	color: #192837;
	border-bottom: 2px solid transparent; 
}

.showEp { 
	display: flex;
	flex-flow: column wrap;
	padding-top: 30px; 
}
.showEps { 
	width: 100%; 
	padding: 30px 0px;
	display: flex; 
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start; 
}
.categoryContentTile { 
	cursor: pointer;
	box-shadow: 5px 5px 10px black;
	background: #192837;
	color: #afbecd;
	margin: 6px;
	width: 325px; 
	height: 225px; 
}
.categoryContentTile:hover { 
	background-color: #afbecd; 
	color: #192837; 
}	
.categoryContentTile p { 
	padding: 7px; 
	font-size: 17px; 
	height: 25%; 
	margin: auto;
}	
.showEps .categoryContentTile img { 
	width: 100%; 
	height: 75%; 
}	

.clipInfo { 
	width: 100%;
	padding: 30px 0px;
	display: none;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: flex-start; 
}
.clipInfo .sInfo { 
	font-size: 17px; 
}
.clipInfo .sClip { 
	margin-top: 50px;
	display: flex;
	flex-flow: row wrap; 
}	
.sClip img { 
	width: 100%;
	height: 75%;
}		

.moreLike { 
	width: 100%;
	padding: 30px 0px;
	display: none;
	flex-flow: row wrap; 
}	
.moreLike .categoryContentTile { 
	height: 250px;
	width:  13%; 
}	
.moreLike .categoryContentTile img { 
	width: 100%; 
	height: 100%; 
}			